.center {
  
  width: 1000px;
  
}
.ul {
  height: 40px;
  width: 700px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: blue;
  
}

.a{
  width: 1000px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nol{
color: rgba(242, 124, 15, 1);
font-size: 288px;
text-align: center;

}

.center {
  text-align: center;

}
.conteyner {
 padding-left: 30px;

} 
.button{
  width: 200px;
  height: 58px;
  color: white;
  font-size: 20px;
  border: 0 solid;
  border-radius: 20px;
  opacity: 0.5;
}

.button:hover{
  font-size: 24px;
  opacity: 3;
}

ul {
  width: 700px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
}

.g {
  margin-top: 200px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
